body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Involve";
  src: url("./fonts/involve/fonts/OTF/Involve-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Involve";
  src: url("./fonts/involve/fonts/OTF/Involve-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Involve";
  src: url("./fonts/involve/fonts/OTF/Involve-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Involve";
  src: url("./fonts/involve/fonts/OTF/Involve-Bold.otf") format("opentype");
  font-weight: 700;
}
